table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
    text-align: center;
}

tr#title {
    background-color: lightskyblue;
}

tr:nth-child(odd) {
    background-color: papayawhip;
}

tr.excess {
    color: red;
}

tr.notexcess {
    color: green;
}